body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h2,
h3 {
    color: #2E2F42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
        margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container{
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
}
/*----------------HEADER----------------*/
.header-nav{
    border-bottom: 1px solid #E7E9FC;
}

.header-div{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-list{
display: flex;
align-items: center;
gap: 76px;
}

.nav-list-link {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.address-ul{
    display: flex;
    gap: 40px;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;


    color: #4D5AE5;
}

.header-logo {
    color: #2E2F42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #2E2F42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.address-list {
    font-style: normal;
}

.section{
    padding: 120px 0;
}

/*----------------/HEADER---------------------*/

/*------------HERO-SECTION--------------*/
.hero-section {
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-text {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.hero-button {
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    vertical-align: middle;
    cursor: pointer;

    color: #ffffff;
    background-color: #4D5AE5;

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title-two {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.text-main {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: #2E2F42;
}

.info-teg {
    text-align: center;
    padding-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.section-team {
    background-color: #F4F4FD;
}

.team-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 72px;
}

.list-name-developer {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px #2E2F4214,
            0px 1px 1px 0px #2E2F4229,
            0px 1px 6px 0px #2E2F4214;
}

.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

.text-list{
    display: flex;
    gap: 24px;
}

.text-li{
    max-width: 264px;
}

.list-developer{
display: flex;
gap: 24px;
}

.text-portfolio{
    padding-top: 32px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    
        color: #2E2F42;
}

.info-portfolio{
    padding-left: 16px;
    padding-bottom: 32px;
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
}

.ul-portfolio-one{
    display: flex;
    padding-top: 72px;
    gap: 24px;
    
}

.li-portfolio{
border: 1px solid #E7E9FC;
    border-top: 0;
}

/*---------------/HERO SECTION--------------*/

/*-----------------FOOTER--------------*/

.foot-logo {
    display: inline-block;
    padding: 0;
    margin-bottom: 16px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    vertical-align: middle;
    text-transform: uppercase;

    color: #4D5AE5;
}

.span-foot {
    color: #F4F4FD;
}

.footer-section {
    background-color: #2E2F42;
    padding: 100px 0;
}

.foot-paragraph {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #F4F4FD;
}

/*---------------/FOOTER------------*/